* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0b0b0b;
  height: auto;
  width: 100%;
  position: relative;
  padding: 20px 20px;
}
:root {
  --color-background-image: linear-gradient(
    to top,
    #011704,
    #011403,
    #001003,
    #000b02,
    #000501
  );
  --color-menu: #011704;
  --text-color: rgb(225, 225, 225);
}
.navbar {
  width: 100%;
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #056b12;
  color: white;
  margin-bottom: 10px;
}
.profile {
  display: flex;
  align-items: center;
}
.img img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.info h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #010f03;
}
.drop button {
  background-color: transparent;
  outline: 0;
  border: 1px solid transparent;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.contentBalanceAnalyses {
  height: auto;
  width: 100%;
  padding: 30px;
}
.titleAnalyeseBalance {
  font-size: 28px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-top: 30px;
  margin-bottom: 10px;
}
.titlePartBalance {
  color: #239432;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.cardsBalance {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  height: auto;
}
.card {
  background: #1717174f;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: auto;
  transform: translateY(0);
  transition: transform 0.4s;
}
.card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(10px);
}
.iconCard i {
  font-size: 35px;
  color: white;
}
.infoCartd h2 {
  font-size: 25px;
  font-weight: 600;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.infoCartd p {
  font-size: 10px;
  font-weight: 300;
  color: rgb(131, 131, 131);
  font-family: Arial, Helvetica, sans-serif;
}
.infoCartd span {
  font-size: 20px;
  font-weight: 500;
  color: rgb(228, 227, 227);
  font-family: Arial, Helvetica, sans-serif;
}

/* charts section 5*/
.charts {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Ensures all children have the same height */
  gap: 20px; /* Adds spacing between charts */
  width: 100%;
  flex-wrap: wrap; /* Ensures charts stack on smaller screens */
  height: auto;
}

.chart1,
.chart2 {
  flex: 1 1 300px; /* Allows flexibility and ensures responsiveness */
  max-width: auto; /* Sets a maximum width for the charts */
  max-height: 100%;
  padding: 30px;
  background: #1717174f;
  border-radius: 10px; /* Adds rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a shadow effect */
  text-align: center;
  height: 400px; /* Ensures both charts have the same height */
  display: flex; /* Centers content vertically */
  flex-direction: column; /* Ensures vertical alignment of children */
  justify-content: center; /* Centers content vertically */
  align-items: center;
}

#balanceChart {
  height: 200px;
  width: 200px;
}

#balanceChart2 {
  height: 200px;
  width: 200px;
}

.chart1 .titlePart,
.chart2 .titlePart2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500;
}
.calcul_Expenses {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 63% auto;
  padding: 20px;
}
.recodrs_Ex h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(15, 163, 15);
  font-weight: 500;
}
.recodrs_Ex form {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.recodrs_Ex form label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: rgb(224, 224, 224);
}
.recodrs_Ex form input {
  width: 100%;
  padding: 13px;
  background-color: #54545446;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid transparent;
  outline: 0;
  border-radius: 10px;
}
.recodrs_Ex form button {
  padding: 15px;
  background-color: #017711ac;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.allExpenses {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.allExpenses h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(15, 163, 15);
  font-weight: 500;
}
.allExpenses table {
  background-color: #191a1925;
  padding: 20px;
  border-radius: 10px;
  width: auto;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-y: auto;
  display: block;
  height: 300px;
  max-height: 200px; /* Sets a max height to prevent overflow */
}
.allExpenses ::-webkit-scrollbar {
  width: 9px;
}

.allExpenses ::-webkit-scrollbar-thumb {
  background: #03440c;
  border-radius: 5px;
  cursor: pointer;
}

.allExpenses ::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 5px;
}

.allExpenses th,
td {
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: auto;
  text-align: left;
}
.allExpenses tr td a {
  font-size: 20px;
  margin: 5px;
}
.TotalExpenses {
  width: 100%;
  padding: 10px;
  background-color: #191a1925;
  display: flex;
  align-items: center;
}
.namesRecords {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.namesRecords h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.dataRecords {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.dataRecords span {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(2, 143, 7);
  font-weight: 600;
  font-size: 18px;
}
.aleart_true {
  background-color: rgb(72, 188, 72);
  color: rgb(3, 78, 3);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 10px;
}
.aleart_true.close {
  display: none;
}
.aleart_true p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.aleart_true button {
  background-color: transparent;
  outline: 0;
  border: 1px solid transparent;
  font-size: 25px;
  color: rgb(3, 78, 3);
  font-weight: 500;
  cursor: pointer;
}

.aleart_false {
  background-color: rgb(181, 46, 46);
  color: rgb(78, 3, 3);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 10px;
}
.aleart_false.close {
  display: none;
}
.aleart_false p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.aleart_false button {
  background-color: transparent;
  outline: 0;
  border: 1px solid transparent;
  font-size: 25px;
  color: rgb(78, 3, 3);
  font-weight: 500;
  cursor: pointer;
}
