* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0b0b0b;
  height: auto;
  width: 100%;
  position: relative;
  padding: 20px 20px;
}
:root {
  --color-background-image: linear-gradient(
    to top,
    #011704,
    #011403,
    #001003,
    #000b02,
    #000501
  );
  --color-menu: #011704;
  --text-color: rgb(225, 225, 225);
}

.spaceinvoice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 5vh;
  width: 100%;
}
.forminputs {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 10px;
}
.forminputs select {
  width: 100%;
  padding: 15px;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #3f3f3f3a;
  color: var(--text-color);
}
.forminputs select option {
  background-color: #000000;
  color: white;
  padding: 15px;
  outline: 0;
  border: 0;
  border-radius: 10px;
}
.spaceinvoice h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color);
}
.spaceinvoice h2 span {
  color: #0a7a19;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  flex-direction: column;
  gap: 60px;
  padding: 50px;
  width: 100%;
}
.part1Info,
.part2Info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.part1Info input,
.part2Info input {
  width: 100%;
  padding: 15px;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #3f3f3f3a;
  color: var(--text-color);
}
.part1Info label,
.part2Info label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: var(--text-color);
}
.part1Info input::placeholder,
.part2Info input::placeholder {
  color: rgba(124, 124, 124, 0.553);
}
.btnSave {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 50%;
}
.btnSave button {
  padding: 12px;
  border: 1px solid transparent;
  outline: 0;
  background-color: #056b12;
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 5px;
}
